*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-bg);
}
a{
    color: unset;
    text-decoration: none;
}
.jadoo-header{
    background-image: url('./assets/image/Decore.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 29%;
}
.section__padding{
    padding : 4rem 6rem;
}